cairocffi==1.7.1
CairoSVG==2.8.2
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cssselect2==0.8.0
defusedxml==0.7.1
et_xmlfile==2.0.0
fonttools==4.60.1
fpdf2==2.8.4
-e git+ssh://git@github.com/niksilver/html2image.git@81c0609f57c1b604485a39d23fb4e0b211015745#egg=html2image
idna==3.11
iniconfig==2.3.0
Jinja2==3.1.6
markdown2==2.5.4
MarkupSafe==3.0.3
openpyxl==3.1.5
packaging==25.0
pdoc==16.0.0
pillow==12.0.0
pluggy==1.6.0
pycparser==2.23
Pygments==2.19.2
pytest==8.4.2
requests==2.32.5
tinycss2==1.5.1
urllib3==2.6.3
webencodings==0.5.1
websocket-client==1.9.0
